.rtdash {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #000000;
  background-color: #f8f4fa;
  border: none;
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.navdashboard {
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  height: fit-content;
  padding: 44px 10px;
}

.lndsh {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 9px;
  background-color: white;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
  padding: 0 15px 0 10px;
  max-width: fit-content;
}

.rndsh {
  width: fit-content;
  height: min-content;
  padding: 5px 20px;
  border-radius: 9px;
  background-color: #339cbd;
  color: white;
  display: grid;
  justify-self: end;
}

.gradeNum {
  min-width: fit-content;
}

.starIcon {
  max-height: 35px;
  max-width: 35px;
}

.cupIcon {
  max-height: 35px;
  max-width: 35px;
}

.langSelect {
  margin: 0;
  padding: 0;
}

.notif {
  position: relative;
  padding: 5px 25px 5px 30px;
}

.bellIcon {
  position: absolute;
  top: -6px;
  right: 45px;
}

.knobs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;

  width: 120px;
  height: 30px;
  overflow: visible;
}

.button.b2 {
  border-radius: 9px;
  box-shadow: inset 0 2px 4px #0000007b;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

#button-10 .knobs:before,
#button-10 .knobs:after {
  position: absolute;
  width: 60px;
  height: 105%;
  font-weight: 700;
  text-align: center;
  border-radius: 2px;
  transition: 0.3s ease all;
}

#button-10 .knobs span {
  position: absolute;
  padding: 5px 6px;
}

#button-10 .knobs:before {
  content: "";
  left: 0;
  background-color: #ffffff;
  box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 9px;
}

#button-10 .knobs:after {
  content: "РУС";
  right: 0;
  padding: 5px 0;
  color: #ffffff;
}

#button-10 .knobs span {
  display: inline-block;
  left: 4px;
  color: #3f4042;
  z-index: 1;
}

#button-10 .checkbox:checked + .knobs span {
  color: #fff;
}

#button-10 .checkbox:checked + .knobs:before {
  left: 60px;
  background-color: #ffffff;
}

#button-10 .checkbox:checked + .knobs:after {
  color: #3f4042;
}

.sidebar {
  height: fit-content;
  min-width: max-content;
  border-radius: 55px;
  background-color: #97d4e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  padding-bottom: 33px;
  margin: 50px;
  position: sticky;
}

.dashsidelogo {
  max-width: 100%;
  height: fit-content;
  background-color: #2fb0d7;
  border-radius: 20px;
  padding: 18px 26px;
}

.linkbuttonVal {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  padding: 20px 30px;
  margin-bottom: 15px;
  font-weight: 600;
  align-items: center;
  transition: 0.2s ease-in-out;
}

#active .linkbuttonVal {
  background-color: #afdeec;
  color: white;
  opacity: 100%;
}

.linkbuttonVal #linktit {
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.linkbuttonVal:hover #linktit {
  opacity: 100%;
}

#active .linkbuttonVal #linktit {
  opacity: 100%;
}

.linkbuttonVal:hover {
  background-color: #afdeec;
  color: white;
  opacity: 100%;
}

.excSideLogo {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exitButton {
  background-color: transparent;
  font-weight: 700;
  font-size: large;
  margin-bottom: 20px;
}

.exitButton:hover {
  background-color: transparent;
}

.sideItems {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.centralDash {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}

.dashProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 40px;
  width: fit-content;
  gap: 2rem;
  background-color: #fff;
  margin-left: 20px;
}

.settings {
  text-decoration: none;
  border: none;
  width: 50px;
  height: 50px;
  outline: none; /* Remove outline */
  caret-color: transparent; /* Remove text caret */
  background-image: url(./assets/settings_icon.png); /* Add icon */
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.settings:hover {
  text-decoration: none;
}

.prowfirst {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidepfp {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sidepfp::before {
  content: "";
  fill: #339cbd;
  background-color: #339cbd;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: -10px;
}

.league {
  background-image: url(./assets/league_back.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 35px;
  color: #1282a4;
  padding: 25px;
  width: 250px;
  height: 100px;
}

.studentsList {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: scroll;
}

.ratingItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 10px 20px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.namePoints {
  color: white;
}

.mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.helloContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2fb0d73f;
  border-radius: 35px;
  margin-bottom: 35px;
  position: relative;
  overflow-y: visible;
  background-image: url(./assets/helloContBack.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.helloCont {
  padding: 60px;
}

.courseItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 35px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0px 5px 12px #00000035;
  width: fit-content;
}

.courseItemLeft {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 30px;
}

.coursesCards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: fit-content;
  flex-wrap: wrap;
  margin: 20px;
}

.progressChart {
  align-self: center;
}

.ratinginfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  border-radius: 35px;
  padding: 40px 50px;
}

.listInRating {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 70px;
  border-radius: 35px;
  width: fit-content;
  background-color: #fff;
}

.ratingCentral {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  justify-content: space-around;
}

.ratingMain {
  margin-left: 50px;
}

.rtrat {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.progcalendar {
  box-shadow: none;
}

.parentdash {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  background-image: url(./assets/parentdash_back.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 80%;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
}

.mailname {
  border: 1px solid rgb(205, 205, 205);
  border-radius: 17px;
  padding: 10px 30px;
  font-weight: 700;
}

.addchildren {
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  justify-content: center;
}

.addchildbtn {
  background-color: #ffffff70;
  border: none;
  box-shadow: none;
  backdrop-filter: blur(4px);
  height: 70vh;
  transition: ease-in-out 0.3s;
}

.addchildbtn:hover {
  background-color: #ffffff70;
  transform: scale(1.03);
}

dialog {
  border: none;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 60px;
  animation: fadeIn 0.5s ease both;
  backdrop-filter: blur(2px);
  position: absolute;
  top: 10%;
}
/*`parentdash ${showModal || showDeleteModal ? 'blurred' : ''}`*/
dialog::backdrop {
  animation: fadeIn 0.5s ease both;
}

.gendgrade {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.childavatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin-bottom: 20px;
}

.childcard {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 1rem;
}

.childcardBtns {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 30px;
}

img.childcard {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.childcard p {
  margin: 5px 0;
}

.addchildbtn {
  background-color: #ffffff70;
  border: 2px dashed #aaa;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}

.addchildbtn img {
  margin-bottom: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  to {
    opacity: 1;
    backdrop-filter: blur(3px);
  }
}

.blurred {
  filter: blur(3px);
  transition: filter 0.3s ease;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.studmodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.studmodal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: auto;
  max-width: fit-content;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.studmodal-header {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-left: 20px;
  padding: 10px 0;
}

.studmodal-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 20px;
  height: 400px;
  width: 800px;
  background-image: url(./assets/bgpicker1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 30px;
}

.studmodal-main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-top: 50px;
}

.studmodal-footer {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.modal-content {
  position: relative;
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-content::backdrop {
  backdrop-filter: blur(3px);
  animation: fadeIn 0.4s ease both;
}

.modal-content .inputField {
  display: flex;
  flex-direction: column;
}

.modal-content .childavatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.sectCertificates {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 35px;
  padding: 40px 50px;
  margin-left: 20px;
}

.certbanner{
  background-image: url(./assets/certbanner.png);
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  padding: 30px 100px;
}

.certificates {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.certificate {
  border: 4px solid lightgray;
  width: fit-content;
  padding: 20px 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  opacity: 50%;
  margin-bottom: 20px;
}

#active.c90 {
  border-color: #91dcb3;
  opacity: 100%;
}

#active.c200 {
  border-color: #ffd991;
  opacity: 100%;
}

#active.c500 {
  border-color: #ff7763;
  opacity: 100%;
}

.certpage {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.downloadCert {
  background-image: linear-gradient(to right, #005589, #30b1ee);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 250px;
}

.lessonsMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.lessonsCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  border-radius: 35px;
  padding: 40px 60px;
}

.lessonsLinks {
  max-height: 600px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 20px;
}

.lessonsProg {
  display: flex;
  flex-direction: column;
  border: 4px solid #f8753d8d;
  border-radius: 35px;
  padding: 30px 40px;
  height: fit-content;
  background-color: white;
}

.progList{
  margin-top: 20px;
}

.progItem{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px 0;
  border-top: 1px solid gray;
}

.lessonLink {
  min-width: 130px;
  min-height: 130px;
  border-radius: 20px;
  background-color: #f9749a;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.studtaskDetails{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 500px;
  background-image: url(./assets/bgstudtask.png);
  background-size: cover;
  border-radius: 35px;
  border: 4px solid lightgray;
  padding: 0 40px;
  overflow: hidden;
}

.studTaskOptions{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 70px;
}

.studTaskImgs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  margin-top: 20px;
}

.studTaskOption{
  padding: 5px 10px;
  background-color: #3fa8e9;
  color: white;
  border-radius: 15px;
  text-align: center;
  border: 4px solid lightgray;
  box-shadow: inset 0 -5px 0 0 #00000038;
  font-weight: 700;
}

.studTaskOptionSelected{
  background-color: #03a7a4;
}

.studTaskImg{
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.studTaskImgSelected{
  border: 4px solid #03a7a4;
  scale: 1.02;
}

.feedbackContent{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.feedbackMessage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding: auto;
  align-content: center;
  display: inline;
  z-index: 100;
}

.feedbackMessage::backdrop{
  backdrop-filter: blur(13px);
}

.fbmcorrect{
  background-color: #3ecb7e82;
}

.fbmincorrect{
  background-color: #fa3b3b82;
}

.completedTask{
  background-color: #6beda6;
  color: white;
  border-radius: 10px;
  padding: 7px 25px;
  margin-top: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.incompleteTask{
  background-color: lightgray;
}

.courseSidebar{
  position: fixed;
}

.navigationButtons{
  margin-top: 20px;
}

.game-modal{
  overflow: hidden;
  width: 90vw;
  height: 90vh;
  z-index: 1000;
}

.game-iframe{
  overflow: hidden;
  position: relative;
}

.game-button{
  background-color: rgb(152, 247, 152);
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 50px;
  width: 100%;
}

.game-button:hover{
  background-color: rgb(71, 236, 71);
}

.game-div{
  display: grid;
  padding-right: 50px;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.questionContent{
  position: relative;
}

.taskmodalaudio{
  position: absolute;
  left: 0;
}

.subscriptionBanners{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.subBanners{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.subBanner{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.submonth{
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgb(255,255,255,0.4);
  margin: 0;
  padding: 7px 14px;
  border-radius: 10px;
  color: #444
}

.subban-1{
  background-color: #48bff226;
  color: #48BFF2;
  position: relative;
}

.subban-2{
  background-color: #b148f22c;
  border-radius: 40px;
  color: #b148f2;
  position: relative;
}

.subban-1::after{
  content: "";
  position: absolute;
  top: -25%;
  left: 25%;
  width: 150px;
  height: 150px;
  background-color: #48BFF2;
  border-radius: 50%;
  z-index: 1;
}

.subban-2::after{
  content: "";
  position: absolute;
  top: -25%;
  left: 25%;
  width: 150px;
  height: 150px;
  background-color: #b148f2;
  border-radius: 50%;
  z-index: 1;
}

.subban-1::before{
  content: "";
  position: absolute;
  top: 80%;
  left: 15%;
  width: 200px;
  height: 200px;
  background-color: #48BFF2;
  border-radius: 50%;
  z-index: 1;
}

.subban-2::before{
  content: "";
  position: absolute;
  top: 80%;
  left: 15%;
  width: 200px;
  height: 200px;
  background-color: #b148f2;
  border-radius: 50%;
  z-index: 1;
}

.subBanner-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  z-index: 2;
  backdrop-filter: blur(25px);
  padding: 20px
}

.questionTitle{
  max-width: 500px;
  scale: 1.1;
  margin-top: -30px;
  padding: 40px 0 40px 0;
}

.qt-template-1{
  background-image: url(./assets/title-template-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #0024B5;
  text-shadow: 0 0 1px black;
  font-weight: 800;
}
.qt-template-2{
  background-image: url(./assets/title-template-2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #234FFF;
  font-weight: 800;
  text-shadow: 0 0 5px white;
}
.qt-template-3{
  background-image: url(./assets/title-template-3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #0024B5;
  text-shadow: 0 0 1px black;
  font-weight: 800;
}
.qt-template-4{
  background-image: url(./assets/title-template-1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #3D6400;
  font-weight: 800;
  text-shadow: 0 0 5px white;
}

.icons {
  display: none;
}

.off {
  display: none;
}

@media (max-width: 450px) {
  .rtdash {
    overflow-x: hidden;
  }
  .off {
    display: block;
  }
  /*  Content  */
  .centralDash {
    width: 100vw;
  }
  .navdashboard {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .navdashboard .lndsh {
  }
  .navdashboard .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 9px;
    background-color: white;
    box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    max-width: fit-content;
  }
  .navdashboard .icons svg {
    transform: scale(1.5);
    padding: 10px 20px;
  }
  .navdashboard .lndsh {
    margin-right: 0;
  }
  .navdashboard .langSelect {
    display: none;
  }
  .navdashboard .gradeNum {
    display: none;
  }
  .helloContent img {
    top: 49px !important;
    left: 46% !important;
    scale: 0.65 !important;
  }
  .mainContent h2 {
    text-align: center;
  }
  .mainContent h3 {
    text-align: center;
  }
  .coursesCards {
    flex-direction: column;
    margin: 20px auto;
  }

  .progressChart {
    padding: 2rem;
  }
  /*  Right hand sidebar  */
  .dashProfile {
    transition: .5s ease;
    padding: 50px 0 0 0;
    position: relative;
    left: 20%;
  }
  .activeProfile {
    left: -100%;
  }
  .league {
    margin: 0 10px;
  }
  /*  Left hand sidebar  */
  .sidebar {
    transition: .5s ease;
    /*display: none;*/
    position: absolute;
    top: 10%;
    left: -50%;
    z-index: 10;
    margin: 10px;
    padding: 10px 10px 20px 10px;
  }
  .activeMenu {
    left: 0;
  }
  .sidebar #active {

  }
  .sidebar .linkbuttonVal {
    padding: 5px 0;
    border-radius: 40px;
  }
  .sidebar a .dashsidelogo {
    display: none;
  }
  .sidebar .excSideLogo {
    margin-top: 0;
  }
  .sidebar .exitButton {
    padding: 0.6rem 1rem;
    font-size: small;
  }

  .centralLessonsInner {
    width: 100% !important;
  }
  .centralLessonsInner .cupCount {
    margin-right: 1.5rem;
  }

  .ratingCentral {
    flex-direction: column;
    gap: 1.5rem;
  }

  .ratingCentral .listInRating {
    margin-bottom: 1.5rem;
  }

  .ratingCentral .ratinginfo {
    padding: 40px;
  }
}