.spdash {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #000000;
  border: none;
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.superside {
  background-color: #077ac2;
  min-height: 100vh;
}

.slinkbuttonVal {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-decoration: none;
  color: white;
  border-radius: 4px;
  padding: 20px 30px;
  margin-bottom: 10px;
  font-weight: 600;
  align-items: center;
  transition: 0.2s ease-in-out;
}

#active .slinkbuttonVal {
  background-color: #509cdb;
  color: white;
  opacity: 100%;
}

.slinkbuttonVal:hover {
  background-color: #509cdb;
  color: white;
  opacity: 100%;
}

.supsideItems {
  margin-top: 150px;
}

.addschool {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: 20px;
}

.schoolsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  overflow-y: scroll;
  max-height: 280px;
}

.schoolItem {
  display: flex;
  flex-direction: column;
  border: 2px solid lightgray;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.superMain {
  padding: 50px;
}

.superTable {
  margin-top: 40px;
}

.superBtn {
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: #444;
  font-size: large;
}

.superBtn:hover {
  color: #444;
  background-color: transparent;
}

.schoolCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classList {
  overflow-y: scroll;
  border: 2px solid gray;
  max-height: 280px;
  min-height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.classItem {
  padding: 30px;
  border: 1px solid lightgray;
}

.classItem:hover {
  background-color: #f5f5f5;
}

.schooldetails {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.coursesList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  background-color: #eee;
  border-radius: 35px;
  padding: 30px;
  max-height: 500px;
  overflow-y: scroll;
}

.courseAdder {
  padding: 40px 60px;
  background-color: #077ac224;
  color: #077ac2;
  border: 1px solid #077ac2;
  box-shadow: none;
  font-size: large;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-height: fit-content;
}

.courseAdder:hover {
  background-color: #077ac23c;
}

.formCont {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 30px;
}

.sectAdder {
  display: flex;
  flex-direction: row;
  cursor: grab;
  position: relative;
  align-items: center;
}

.sectAdder:active {
  cursor: grabbing;
}

.sectList {
  max-height: 300px;
  overflow-y: scroll;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 20px;
}

.transBtn {
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: black;
  font-size: large;
  padding: 0;
}

.transBtn:hover {
  background-color: transparent;
}

.addedCourses {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 20px;

  min-height: 200px;
  padding: 20px 0;
}

.sectionsInfo {
  padding: 10px;
  background-color: rgb(254, 254, 254);
  border: 2px solid lightgray;

  margin-left: 7px;
  margin-bottom: 7px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
}

.sectListInfo {
  width: 100%;
  max-height: 150px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.sectCont {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 2rem;
  padding: 40px 20%;
  background-color: #eee;
  border-radius: 20px;
}

.taskAdder {
  background-color: #cbcbcb;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 140px;
}

.adderBtn {
  background-color: #d9d9d9;
  padding: 10px 25px;
  color: #5b5b5b;
  font-weight: 600;
  font-size: large;
  border-radius: 10px;
  width: 100%;
  border: none;
  box-shadow: none;
  transition: none;
}

.adderBtn:hover {
  background-color: #ddd;
}

.formVideo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
}

.thumbcontainer {
  padding: 0;
  margin: 0;
  object-fit: contain;
}

.taskThumbnail {
  padding-top: 7px;
  max-height: 140px;
  max-width: 180px;

  background-position: center;
  border-radius: 15px;
  overflow: hidden;
}

.vidBlock {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #f8753d;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 7px;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
}

.vidBlock:hover {
  transform: scale(0.98);
}

.taskHover {
  display: none;
  position: absolute;
  bottom: 95%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 200px;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 190px;
}

.vidBlock:hover .taskHover {
  display: flex;
  flex-direction: column;
}

.studVidBlock{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.studVidBlock:hover .taskHover {
  display: none;
}

.deleteBtn {
  background-color: transparent;
  padding: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 7px;
}

.deleteBtn:hover {
  background-color: transparent;
  transform: scale(1.1);
}

.editBtn {
  top: 30px;
}

.editBtn:hover {
  transform: scale(1.1);
}

.taskConstructor {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 400px;
  margin-top: 20px;
}

.taskPreview {
  border: 6px solid #ddd;
  border-radius: 20px;
  min-width: 500px;
  min-height: 300px;
  background-image: url(./assets/bgpicker1.svg);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  overflow: hidden;
}

.previewContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.previewOptions{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 5px;
  align-content: center;
}

.previewOption{
  background-color: #077ac2;
  color: white;
  border: 4px solid lightgray;
  border-radius: 25px;
  padding: 10px 20px;
  text-align: center;
  box-shadow: inset 0 -5px 0 0 #00000036;
  font-weight: 800;
}

.taskBGPicker {
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.formConstructor {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #eee;
  padding: 20px;
}

.bgitem {
  width: 200px;
  height: 150px;
  background-color: #aaa;
  border-radius: 10px;
  padding: 0;
}

.bgitem:focus {
  border: 2px solid #ff4040;
}

.correct-answer {
  background-color: #d5e5ee;
  color: #4caf50;
  border: 4px solid #4caf50;
}

.task {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #97d4e7;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
}

.task:hover {
  transform: scale(0.98);
}

.selected-template {
  border: 2px solid orange;
}

.questionNavigation {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
  align-content: center;
}

.questions{
  cursor: pointer;
  padding: 7px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-items: center;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(-100px);
  }
  55% {
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(0);
  }
}

.contentTitle{
  background-color: white;
  border-radius: 7px;
  margin: 0;
  padding: 7px 40px;
  max-width: 110px;
  max-height: 40px;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: inset 5px 0 5px -5px rgb(0, 0, 0), inset -5px 0 5px -5px rgb(0, 0, 0);
}

.title-slide{
  display: inline-block;
}

.title-slider .title-slide{
  animation: 15s slide infinite linear;
}


.supermodal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.251);
  z-index: 1000;
}

.modalHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}