.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-bottom: 1px solid #d1d5db;
    padding: 20px;
}

.title {
    font-size: 10px;
    text-transform: uppercase;
    color:rgb(98, 98, 98)
}

.color-picker {
    display: flex;
    align-items: center;
    border: 1px solid #d1d5db; 
    padding: 10px 0;
    cursor: pointer;
}

.percentage {
    display: flex;
    height: 24px;
    width: 32px;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6;
    font-size: 10px;
    line-height: 1;
}

.attribute {
    flex: 1;
}
